body{
    background-color:#c0c0c0;
    font-size:14px;
    color:#ff00ff;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#ffffff;
    color:#ff00ff;
}
a{
    color:#8080c0;
}